<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC + Web w. Thymeleaf</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css"/>
</head>
<body>

<h1>Spring MVC + Web w. Thymeleaf</h1>

<button class="button-green" onclick="window.location.href = '/studentinfo';">
    Thymeleaf
</button>

<br>

<button class="button-blue" onclick="window.location.href = '/ajax';">
    AJAX
</button>

<br><br><br>

<form action="/greeting">
    <input class="inputfield" name="name" placeholder="Indtast dit navn"/>
    <input type="submit">
</form>

</body>
</html>